@model IEnumerable<OTServer.UI.MVC.Models.DTORankMagic>

@{
    ViewData["Title"] = "Magic Level";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-secondary">
    <thead>
        <tr>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-6">
                @Html.DisplayNameFor(model => model.Magic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td class="col-6">
                        <button class="btn btn-default details" data-id="@item.Id"><i class="glyphicon glyphicon-file"></i>@Html.DisplayFor(modelItem => item.Name)</button>
                    </td>
                    <td class="col-6">
                        @Html.DisplayFor(modelItem => item.Magic)
                    </td>
                    <td>
                    </td>
                </tr>
                count++;
            }
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="@Url.Action("Magic", "ranking", new { page = @ViewBag.page - 1 })">Previous</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("Magic", "ranking", new { page = 1 })">1</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("Magic", "ranking", new { page = 2 })">2</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("Magic", "ranking", new { page = 3 })">3</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("Magic", "ranking", new { page = @ViewBag.page + 1 })">Next</a></li>
    </ul>
</nav>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>
@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Player/searchbyid?id=" + id, function () {
                    $("#modal").modal("show");
                })
            });
        })
    </script>
}

