@model IEnumerable<OTServer.UI.MVC.Models.DTORankSkill>

@{
    ViewData["Title"] = "Skill";
}

<h1>@ViewBag.skillDs</h1>

<table class="table table-secondary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td class="col-6">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="col-6">
                        @Html.DisplayFor(modelItem => item.Skill)
                    </td>
                    <td>
                    </td>

                </tr>
                count++;
            }
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="@Url.Action("skill", "ranking", new { skill = ViewBag.skillId,  page = @ViewBag.page - 1 })">Previous</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("skill", "ranking", new { skill = ViewBag.skillId, page = 1 })">1</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("skill", "ranking", new { skill = ViewBag.skillId, page = 2 })">2</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("skill", "ranking", new { skill = ViewBag.skillId, page = 3 })">3</a></li>
        <li class="page-item"><a class="page-link" href="@Url.Action("skill", "ranking", new { skill = ViewBag.skillId, page = @ViewBag.page + 1 })">Next</a></li>
    </ul>
</nav>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

</div>
@section scripts{
    <script>$(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Player/searchbyid?id=" + id, function () {
                    $("#modal").modal("show");
                })
            });
        })</script>
}